.imageMenu {
    object-fit:fill;
    width: 100%;
    height: 100%;
}
.video {
    width: 100%; /* Растягиваем видео на всю ширину блока */
    height: 100%; /* Растягиваем видео на всю высоту блока */
    object-fit: cover; /* Заполнение видео без искажений */
}